/* @import "~bootstrap/scss/bootstrap"; */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
#banner{
  width: 100%; 
  padding: 6px 10px;
  margin: 10px 0;
  border: 0px solid #ddd;
  box-sizing: border-box;
  display: block;
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
  background-size: cover;
}

#click > button {
  background: #4cf7f7;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

#comment > textarea{
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

#comment > button{
  position: absolute;
  color: #fff;
  border: 0;
  padding: 25px;
  border-radius: 8px;
  cursor: pointer; 
  
}
/* 
 #home{
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}  */

 #siteDropdown {
  padding: 10px;

  /* display: flex; */
  max-width: 500px;
   /* align-items: center;  */

 }

 table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid black;


}

th, td {
  padding: 8px;
}

th {
  background-color: #7ac94c;
  font-size: 150%;
}

tr:nth-child(even) {
  background-color: #8da0f3;
}

tr:hover {
  background-color: #ccc;
}











